@use "../base/variables.scss" as var;
@use "../base/mixins.scss" as mixin;


#navbar {
    padding: 2rem 0 1.4rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    opacity: 0;
    animation: navbar-entrance 1s cubic-bezier(0.8, 0.03, 0.2, 1) forwards;

    @media screen and (max-width: var.$mobile) {
       padding: 1.2rem 0 .8rem 0;
    }

    .navbar-content {
        width: 95%;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: var.$mobile) {
            width: 90%;
        }

        .navbar__brand-logo {
            font-size: 2rem;
            font-family: var.$ff-heading;

            @media screen and (max-width: var.$mobile) {
                font-size: 1.8rem;
            }
        }

        .navbar__burger-icon {
            transition: all .3s ease;
            border-radius: 50px;
            padding: 1.2rem 1.6rem;
            background: #222;
            font-family: var.$ff-heading;
            border: solid 1px #222;
            font-size: 1.1rem;
            color: white;
            @include mixin.flex-center;

            &:hover {
                border-color: white;
                transform: scale(1.05);
            }

            @media screen and (max-width: var.$tablet) {
                padding: 1rem 1.2rem;
                font-size: 1rem;
            }
        }
    }
}



@keyframes navbar-entrance {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}